<div class="login-wrapper">
  <div class="login-card">
    <h1 class="logo">Tatto<span class="highlight">u</span></h1>
    <p class="subtitulo">Introduce tus datos para loguearte en la plataforma</p>

    <form #loginForm="ngForm" (ngSubmit)="onLogin()">
      <input
        type="email"
        name="email"
        placeholder="Correo electrónico"
        [(ngModel)]="email"
        #emailInput="ngModel"
        required
        email
      />
      <div class="error" *ngIf="emailInput.invalid && emailInput.touched">
        Introduce un correo válido.
      </div>

      <input
        type="password"
        name="password"
        placeholder="Contraseña"
        [(ngModel)]="password"
        #passwordInput="ngModel"
        required
      />
      <div class="error" *ngIf="passwordInput.invalid && passwordInput.touched">
        La contraseña es obligatoria.
      </div>
      <div class="botones-superiores">
        <button class="boton-principal" (click)="router.navigate(['/'])">Volver</button>
        <button class="boton-principal" [disabled]="loginForm.invalid">Continuar</button>
      </div>
    </form>
    <div *ngIf="loginError" class="login-error">
      {{ loginError }}
    </div>
  </div>
</div>
