<app-navbar></app-navbar>

<div class="detalle-tatuaje-container" *ngIf="tatuaje">
  <div class="contenido">
    <div class="imagen">
      <img [src]="'http://localhost:8080' + tatuaje.imagen" alt="{{ tatuaje.titulo }}" />
    </div>

    <div class="info">
      <h2>{{ tatuaje.titulo }}</h2>
      <p><strong>Autor:</strong> {{ tatuaje.autor.usuario.nombre }} {{ tatuaje.autor.usuario.apellidos }}</p>
      <p *ngIf="tatuaje.etiquetas?.length"><strong>Etiquetas:</strong> {{ tatuaje.etiquetas.join(', ') }}</p>

      <button class="btn-eliminar" (click)="eliminarTatuaje()">Eliminar tatuaje</button>
    </div>
  </div>
</div>
